header {
    padding: 20px;
    text-align: center;
    border-radius: 15px; 
}


body {
    position: relative;
    font-family: 'Cascadia Code', sans-serif;
  }
nav {
    text-align: center;
    word-spacing: 30px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 15px; 
    overflow: hidden;
}
  
  .blog-entry {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
  }
  
  .entry-title {
    color: #333;
  }
  
  .entry-content {
    margin-bottom: 10px;
  }
  
  .full-content {
    display: none;
  }
  
  .expand-button {
    background-color: #bd1eb5;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Cascadia Code', sans-serif;
  }
  
  .expand-button:hover {
    background-color: #bd1eb5;
  }

  .left-image {
    float: left;
    margin-right: 20px; 
    width: 10%;
    height: 10%;

  }

  .right-image {
    float: right;
    margin-right: 20px; 
    width: 25%;
    height: 25%;

  }

  .flex-container {
    overflow: hidden;
  }
  
  .side-by-side {
    float: left;
    margin-right: 10px;
  }

  .centre-image {
    right: 200px;
    width: 30%;
    height: 30%;

  }

  
  