body {
    margin: 0;
    font-family: sans-serif;
    color: #333;
}

@font-face {
  font-family: 'BodyTextBold'; 
  src: url('resources/fonts/KosugiMaru-Regular.ttf') format('truetype');
  font-weight:bold; 
  font-style: normal;  
}

@font-face {
  font-family: 'BodyTextItalic'; 
  src: url('resources/fonts/KosugiMaru-Regular.ttf') format('truetype');
  font-weight: normal; 
  font-style: italic;  
}

@font-face {
  font-family: 'BodyText'; 
  src: url('resources/fonts/KosugiMaru-Regular.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal;  
}

@font-face {
  font-family: 'Heading'; 
  src: url('resources/fonts/KiwiSoda.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal;  
}

@font-face {
  font-family: 'Emoji'; 
  src: url('resources/fonts/EmojiFont.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal;  
}

p {
  font-family: 'BodyText', serif;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}

h2 {
  font-family: 'Emoji';
  font-size: 36px;
  display: inline;
}

button {
  border-style: none;
  background-color: transparent;

}

.hide-button {
  visibility: hidden;
}

.day-night-cycle {
  z-index: -1;
}

@keyframes blog-post-to-night {
  0% {
    background-color: rgb(240 248 255);
  }
  100% {
    background-color: rgb(252, 240, 255);
  } 
}

@keyframes main-bg-to-night {
  0% {
    background-color: rgb(186 235 237);
  }
  100% {
    background-color: rgb(217, 186, 237);
  } 
}

@keyframes main-bg-to-day {
  0% {
    background-color: rgb(217, 186, 237);
  }
  100% {
    background-color: rgb(186 235 237);
  } 
}

@keyframes blog-post-to-day {
  0% {
    background-color: rgb(252, 240, 255);
  }
  100% {
    background-color: rgb(240 248 255);
  }
}

.blog-post {
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  max-height: fit-content;
  background-color: rgb(240 248 255);
  animation-name: blog-post-to-night;
  animation-duration: 3s;
  animation-play-state: paused;
  animation-fill-mode: forwards;
  border-radius: 16px;
  justify-self: center;
  z-index: 2;
}

.blog-buttons {
  display: flex;
  justify-content: space-evenly;
}

.blog-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 1;
}

.blog-post h2 {
  font-family: 'BodyTextItalic', serif;
  font-size: 18px;
  color: gray;
  padding-left: 20px;
  padding-right: 20px;
}

.blog-post p {
  color: #333;
}

h3 {
  font-family: 'Emoji';
  font-size: 36px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'BodyTextBold', serif;
  font-size: 36px;
  padding-left: 20px;
  display: inline;
  align-self:flex-start;
}

.animated-title span {
  display: inline-block;
  font-family: 'BodyText', serif;
  font-size: 18px;
}

.main-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(186 235 237);
    position: relative;
    overflow-x: hidden; 
    animation-name: main-bg-to-night;
    animation-duration: 3s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

.current-me-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-me {
  display: flex;
  flex-direction: row;
}

.main-wrapper::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(50% + 400px); 
    background-image: url('resources/left.png');
    background-size: auto; 
    background-position: right;
    z-index: 1;
}

.main-wrapper::after {
    content: "";
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: calc(50% + 400px); 
    background-image: url('resources/right.png');
    background-size: auto; 
    background-position: left; 
    z-index: 1;
}

.main-content {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 800px;
    background-color: rgb(186 235 237);
    display: flex;
    flex-direction: column;
    animation-name: main-bg-to-night;
    animation-duration: 3s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

.main-content img.gif-button {
    width: 128px; 
    height: 128px;
    position: absolute;
    z-index: 10;
}

.pos-home {
  top: 100px;
  right: 280px
}

.pos-blog {
  top: 220px;
  right: 150px;
}

.pos-connect {
  top: 220px;
  right: 350px;
}

.pos-projects {
  top: 100px;
  right: 50px;
}

.current-me img {
  align-self: center;
  justify-content: right;
  max-width: 30%;
  max-height: 300px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.current-me p {
  max-width: 60%;
  height: auto;
}

.header {
    position: relative; 
    width: 100%;           
    max-width: 800px;
    height: auto;          
    min-height: 400px;
}

.lyrics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lyrics p {
  font-style: italic;
  align-self: center;
}

/* mobile stuff */
@media (max-width: 800px) {
    .main-wrapper::before, .main-wrapper::after {
        display: none;   
    }

    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }

    .header img {
      width: 100%;
    }

    .main-content img.gif-button {
        position: static;    
        margin: 10px;       
    }
}

@media (max-width: 600px) {
    .current-me {
        flex-direction: column; 
        align-items: center;
    }
    
    .current-me p, .current-me img {
        max-width: 80%;
    }
}

