/* Header style */
header {
    padding: 20px;
    text-align: center;
    border-radius: 15px; /* Adjust the value as needed */
}

.title-of-post h1 {
    font-size: 20px;
}

/* Body style */
body {
    margin: 0; /* Reset default margin */
    padding: 20px;
    position: relative;
    font-family: 'Cascadia Code', sans-serif;
    box-sizing: border-box; /* Ensure consistent box model */
}



/* Navigation menu style */
nav {
    text-align: center;
    word-spacing: 30px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 15px; /* Adjust the value as needed */
    margin-bottom: 20px; /* Adjust as needed for spacing */
    box-sizing: border-box; /* Ensure consistent box model */
}

/* Creating the two-column layout */
* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* Post text box style */
.post-text-box, .title-of-post {
    padding: 5px;
    border: 2px solid #000;
    border-radius: 15px; /* Adjust the value as needed */
    box-sizing: border-box; /* Ensure consistent box model */
}

/* Post text section style */
.post-text-box section {
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 10px;
    margin-bottom: 20px;
}

